<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %>
<body>
    <input type="text" placeholder="Correo electronico">
    <input type="text" placeholder="Contraseña">
</body>
<%- include('./partials/footer.ejs') %>
</html>