<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="registro">
      <h1>Regisrarse</h1>
      <div class="f-registro-1">
        <input type="text" placeholder="Correo electronico" />
        <input type="text" placeholder="Contraseña" />
        <input type="text" placeholder="Confirmar Contraseña" />
      </div>
      <button>Enviar</button>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
