<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manulah</title>
  <link rel="stylesheet" href="/src/public/css/estilos.css" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script
    src="https://kit.fontawesome.com/17a9923acb.js"
    crossorigin="anonymous"
  ></script>
</head>
